{% extends './basic.html' %}

{% block title%} Home {% endblock %}


{% block body %}
{% block css %}
<style>
  .carousel-indicators .active {
    background-color: black
  }
</style>
{% endblock %}
{% load static %}
{% if products_list %}
{% for products,no_of_slide,range in products_list %}
<div id="product_view_{{forloop.counter}}" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#slide_bar_{{forloop.counter}}" data-slide-to="0" class="active"></li>
    {% for slide in range %}
    <li data-target="#slide_bar_{{forloop.parentloop.counter}}" data-slide-to="{{slide}}"></li>
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    <div class="container">
      <h5> Flash Sale On: Recommended Items {{products.0.product_category}}</h5>
      <div class="carousel-item ml-5 active">

        {% for product in products %}
        <div class="card d-inline-block mx-sm-5" style="width: 15rem;">
          <img src="/media/{{product.product_image}}" class="card-img-top d-block" style="width: 237px;height: 180px;"
            alt="...">
          <div class="card-body">
            <h5 class="card-title" id="product_name_{{product.product_id}}">{{product.product_name}}</h5>
            <p class="card-text">{{product.product_description|slice:"0:22"}}...</p>
            <p class="card-text" id="product_price_{{product.product_id}}"><b> Rs.{{product.price}}</b></p>
            <span id="plusminus_{{product.product_id}}" class="plusminus">
              <button id="product_id_{{product.product_id}}" class="btn btn-primary add_to_cart">Add to Cart</button>
            </span>
            <a href='/product/{{product.product_id}}' class="btn btn-primary">View</a>
          </div>
        </div>

        {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
      </div>
      <div class="carousel-item ml-5">
        {% endif %}

        {% endfor %}
      </div>

      <button class="carousel-control-prev" type="button" data-target="#product_view_{{forloop.counter}}"
        data-slide="prev">
        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#product_view_{{forloop.counter}}"
        data-slide="next">
        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="container">
    <div class="col my-4">
      <div class="alert alert-warning" role="alert">
        <p>No Product Found</p>
      </div>
    </div>
  </div>
  {% endif %}
  {% endblock %}
  {% block js %}
  <script>

    // Add to cart function
    $('.plusminus').on('click', 'button.add_to_cart', function () {
      if (localStorage.getItem('my_cart') == null) {
        var my_cart = {}
      }
      else {
        my_cart = JSON.parse(localStorage.getItem('my_cart'))
      }

      if (my_cart[this.id.toString()] != undefined) {
        my_cart[this.id.toString()] = my_cart[this.id.toString()] + 1
      }
      else {
        my_cart[this.id.toString()] = 1
      }
      localStorage.setItem('my_cart', JSON.stringify(my_cart))
      document.getElementById('my_cart_product').innerHTML = Object.keys(my_cart).length;
      document.getElementById('my_cart_item').innerHTML = Object.values(my_cart).reduce((a, b) => a + b, 0);
      updatecart(my_cart, this.id)
      updatepopover(my_cart)
      $('#my_cart_popover').popover('show');
    });

    // update cart function
    function updatecart(my_cart, product) {
      product_id = product.split('_').slice(-1)
      document.getElementById(`plusminus_${product_id}`).innerHTML = `
                <button id='plus_${product_id}' class='btn btn-primary plus'>+</button>
                <span id='cart_value_${product_id}'> ${my_cart[product]}</span>
                <button id='minus_${product_id}' class='btn btn-primary minus'>-</button>`
    }

    // update qty function
    function updateqty(product_id, update_qty) {
      if (localStorage.getItem('my_cart') == null) {
        var my_cart = {}
        my_cart[`product_id_${product_id}`] = update_qty
      }
      else {
        my_cart = JSON.parse(localStorage.getItem('my_cart'))
        if (update_qty != 0) {
          my_cart[`product_id_${product_id}`] = update_qty
        }
        else {
          delete my_cart[`product_id_${product_id}`]
        }
      }
      localStorage.setItem('my_cart', JSON.stringify(my_cart))
      document.getElementById('my_cart_item').innerHTML = Object.values(my_cart).reduce((a, b) => a + b, 0);
      document.getElementById('my_cart_product').innerHTML = Object.keys(my_cart).length;

      updatepopover(my_cart)
      $('#my_cart_popover').popover('show');
    }
    // minus function
    $('.plusminus').on('click', 'button.minus', function () {
      product_id = this.id.split('_').slice(-1)
      product_qty = document.getElementById(`cart_value_${product_id}`).innerHTML
      update_qty = Math.max(0, product_qty - 1)
      document.getElementById(`cart_value_${product_id}`).innerHTML = update_qty
      updateqty(product_id, update_qty)
    })

    // plus function
    $('.plusminus').on('click', 'button.plus', function () {
      product_id = this.id.split('_').slice(-1)
      product_qty = document.getElementById(`cart_value_${product_id}`).innerHTML
      update_qty = parseInt(product_qty) + 1
      document.getElementById(`cart_value_${product_id}`).innerHTML = update_qty
      updateqty(product_id, update_qty)
    })

    //** popover content **//
    $('#my_cart_popover').popover();
    updatepopover(my_cart)

    //update pop over
    function updatepopover(my_cart) {
      var popover_str = ''
      var count = 1
      var my_cart_name = {}

      localStorage.removeItem('my_cart_name')
      popover_str = '<h5>Product on my cart</h5> <div class="my-2 mx-2">'

      for (product in my_cart) {
        product_id = product.split('_').slice(-1)
        product_name = document.getElementById('product_name_' + product_id).innerHTML
        product_price = document.getElementById('product_price_' + product_id).innerText.split('.').slice(-1)[0]
        qty = my_cart[product]

        popover_str = popover_str + `<b>${count}.</b>
        ${product_name}
        ...Qty: ${qty} <br />`

        my_cart_name[product] = [product_name, qty, product_price]
        localStorage.setItem('my_cart_name', JSON.stringify(my_cart_name))

        count++
      }
      popover_str = popover_str + "</div> <a href='/checkout' class='btn btn-outline-success d-flex justify-content-center' id ='checkout'>Checkout</a>"
      if (document.getElementById('my_cart_popover') != null) {
        document.getElementById('my_cart_popover').setAttribute('data-content', popover_str);
      }
    }

    // Clear Cart
    function clearCart() {
      my_cart = JSON.parse(localStorage.getItem('my_cart'))
      for (product in my_cart) {
        product_id = product.split('_').slice(-1)
        document.getElementById(`plusminus_${product_id}`).innerHTML = `
        <button id="product_id_${product_id}" class="btn btn-primary add_to_cart">Add to Cart</button>`
      }
      localStorage.clear()
      document.getElementById('my_cart_item').innerHTML = 0
      document.getElementById('my_cart_product').innerHTML = 0
      popover_str = '<h5>Product on my cart</h5> <div class="my-2 mx-2">'
      document.getElementById('my_cart_popover').setAttribute('data-content', popover_str);
      $('#my_cart_popover').popover('hide');
    }

  </script>
  {% endblock %}